
<div class="container mx-auto">

  <img class="w-full xl:w-10/12" src="../../../../assets/logoMovies.png" alt="">

  <h1 class="text-blue-500 text-center sm:relative bottom-28">App for listing Movies based on
    <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">
      <span class="underline">https://www.themoviedb.org</span>
    </a>
      API
  </h1>

  <div class="text-center w-full sm:relative bottom-28">
    <button
      class="bg-orange-500 text-white p-6 rounded-sm font-bold mr-2"
      (click)="goToPopularMovies()"
    >
      Check most popular movies
    </button>

  </div>

</div>
