<form autocomplete="off">
  <mat-form-field class="w-full text-blue-500" appearance="legacy">
    <input
      matInput
      type="text"
      name="query"
      [(ngModel)]="query"
      placeholder="Search for a movie, tv show, person .....">
    <button matSuffix mat-icon-button (click)="search(query)">
      <mat-icon class="text-blue-500">search</mat-icon>
    </button>
  </mat-form-field>
</form>

<!-- Handling errors for query -->
<div *ngIf="this.errorResult">
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="font-bold">Informational message</p>
    <p class="text-sm">There are no movies that matched your query.</p>
  </div>
</div>
