<div *ngIf="!popularMovies">
  <mat-spinner></mat-spinner>
</div>

<div class="bg-blue-500">
  <h2 class="text-white">Info de la búsqueda</h2>
  page: {{ popularMovies.page }}
  <br>
  total pages: {{ popularMovies.total_pages }}
  <br>
  total results: {{ popularMovies.total_results }}
</div>


<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-8 gap-8">

  <app-movie-card
    *ngFor="let movie of popularMovies.results"
    [movie]="movie"
  >
 </app-movie-card>

</div>



<mat-paginator [pageSize]="popularMovies.results.length" [length]="popularMovies.total_pages"></mat-paginator>
